# Exclude files for git

# Folders
.settings/
venv/
__pycache__
build/
dist/
jarvis.egg-info
credentials/*
.pytest_cache
reports

# File extensions
*.class
*.jar
*.pyc

#Specific files
.project
.classpath
.coverage
example/protos/*.py

# OS
.DS_Store

# IDE
.idea/
*.iml

