certifi==2022.5.18.1
chardet==4.0.0
click==7.1.2
coverage
google==3.0.0
google-api-python-client==1.12.11
google-auth-httplib2
google-auth-oauthlib
google-cloud-pubsub==1.7.1
google-cloud-datastore==2.6.0
gql==2.0.0
grpcio==1.46.3
grpcio-tools==1.46.3
httplib2==0.20.4
idna==2.10
marshmallow==3.14.1
marshmallow-oneofschema==3.0.1
oauth2client==4.1.3
pika==1.2.1
psycopg2-binary==2.9.3
pylint==2.13.9
pyOpenSSL==22.0.0
pytest==7.1.2
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-mock==3.7.0
PyYAML==6.0
requests==2.27.1
kafka-python==2.0.2
kazoo==2.8.0
mergedeep==1.3.4